http_interactions:
- request:
    method: post
    uri: https://pasta-d.lternet.edu/package/reservations/eml/edi
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 500
      category: Server error
      reason: Internal Server Error
      message: 'Server error: (500) Internal Server Error'
    headers:
      content-type: text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      file: no
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;charset=utf-8\"/>\n<title>Error
        500 Server Error</title>\n</head>\n<body><h2>HTTP ERROR 500</h2>\n<p>Problem
        accessing /package/reservations/eml/edi. Reason:\n<pre>    Server Error</pre></p><h3>Caused
        by:</h3><pre>javax.ws.rs.WebApplicationException\n\tat edu.lternet.pasta.common.WebExceptionFactory.make(WebExceptionFactory.java:73)\n\tat
        edu.lternet.pasta.common.WebExceptionFactory.makeBadRequest(WebExceptionFactory.java:112)\n\tat
        edu.lternet.pasta.common.security.token.BasicAuthToken.&lt;init&gt;(BasicAuthToken.java:128)\n\tat
        edu.lternet.pasta.common.security.token.AuthTokenFactory.makeAuthTokenWithPassword(AuthTokenFactory.java:80)\n\tat
        edu.lternet.pasta.gat[...]
