.navbar-default {
  background-color: #309444;
}

a {
    color: #0b8cc3;
    text-decoration: none;
}

a:hover {
  color: #ffc31b;
}

.current {
    background: #060652;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #309444;
    color: #ffc31b;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #4a9d45;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #4a9d45;
}




